@font-face {
  font-family: Overpass;
  src: url('../public/fonts/Overpass-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Overpass;
  src: url('../public/fonts/Overpass-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

:root {
  --o-500: hsl(25, 97%, 53%);
  --w: hsl(0, 100%, 100%);
  --g-500: hsl(217, 12%, 63%);
  --g-900: hsl(213, 19%, 18%);
  --g-950: hsl(216, 12%, 8%);

  --light-gray: color-mix(in srgb, white 5%, var(--g-900));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  color: var(--w);
  box-sizing: border-box;
  font-family: Overpass;
}

html {
  font-size: 15px;
}

#root {
  background-color: var(--g-950);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background: linear-gradient(var(--g-900), color-mix(in srgb, black 30%, var(--g-900)));
  width: 85%;
  padding: 1.5em;
  border-radius: 1em;
  max-width: 21em;
}

button {
  cursor: pointer;
  transition: 
    background-color 100ms ease-in,
    opacity 100ms ease-in,
    color 100ms ease-in;
}

h2 {
  margin-block-end: .5em;
  font-size: 1.7rem;
}

p.text {
  font-size: .9rem;
  color: var(--g-500);
  line-height: 1.5em;
  margin-block-end: 1.5em;
}